body {
  background: #4a4e69;
  color: #222;
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 100vh;
  margin: auto;
  justify-content: space-between;
}

.sidebar,
.language,
main {
  display: flex;
  flex-direction: column;
}

.sidebar,
.language {
  background-color: #f2e9e4;
  text-align: center;
}

main {
  background: white;
  height: 100vh;
  max-width: 75%;
}

.header {
  margin: auto;
  font-size: large;
  background-color: #071e22;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
}



.mainInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex-grow: 5;
  background: #1d7874;
}



.community,
.housing,
.jobs {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #c9ada7; */
  /* border: 1px pink solid; */
  max-height: 82vh;
  max-width: 28.5%;

}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  /* flex-wrap: wrap; */
}

.housing {
  flex-grow: 2;
}

legend {
  font-size: large;
  font-weight: bold;
  background-color: #c9ada7;
  /* background-color: #071e22; */
  color: #fff;
  width: 100%;
  margin: 0 -5px;
  text-align: center;
  border-top: 1px #f2e9e4 solid;
  border-bottom: 1px #f2e9e4 solid;
}


h1 {
  text-align: center;
  padding: 10px;
  display: block;
  color: white;
}

.sidebar > ul > li{
  display: block;
}

ul, li {
  list-style: none;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  border-bottom: 1px pink solid;
  display: inline;

}

/* Dropdown Button */
.dropbtn {
  background-color: #c9ada7;;
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  text-align: center;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}



footer {
  background-color: #071e22;
  margin: auto;
  width: 95vw;
}
